@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a3e635;
  --color-primary-dark: #84cc16;
  --color-primary-light: #bef264;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-black text-white antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.plyr {
  --plyr-color-main: var(--color-primary);
}
